@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#7e4222bb;
    --black-color:#383534;
    --border:0.1rem solid rgba(255,255,255,0.4);

}
*{
    font-family:"Poppins",sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease ;
}
/*!base html codes*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color: var( --main-color);
}
section{
    padding: 3.5rem 7% ;
}
a{
    color: var(--black-color);
    text-decoration: none;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color:whitesmoke;
    background-color: var(--black-color);
    cursor: pointer;

}

.btn:hover{
    opacity: 0.7;
}
.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;

}
.heading span{
    color: var(--black-color);
    text-transform: uppercase;
}
.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius:3rem;
  }

  .gallery {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor:pointer;
}
#resim {
  position: relative;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  height: 15vh;
}
.header{
  padding: 50px 20px 30px 20px;
}
.header h1{
  font-size: 30px;
  color: #6b4913;
  text-shadow: 1px 3px rgba(0, 0, 0, .1);
}

.header input{
  width: 50%;
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #5e3f0c;
  text-align: center;
  font-size: 20px;
  color: #5b3200;
}
.city{
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, .8);
}
.temp{
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 15px;
  text-shadow: 1px 5px rgba(0, 0, 0, .1);
}

.desc{
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 3px rgba(0, 0, 0, .8);
  margin-bottom:10px;
}
.minmax{
  font-size: 24px;
  text-shadow: 1px 3px rgba(0, 0, 0, .8);
}
#suresiz-yazi {
  color: rgb(61, 36, 1); /* Rengi mavi olarak değiştir */
  font-size: 24px; /* Boyutunu 24 piksel olarak ayarla */
  font-weight: bold; /* Kalınlığı artır */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge ekle */
        
}
 /*header start*/
 .header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
    transform: scaleY(0);
  }
  
  .header .search-form.active {
    transform: scaleY(1);
  }
  
  .header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
  }
  
  .header .search-form input {
    width: 100%;
  }
  
  .header .logo img {
    height: 10rem;
  }
  
  .header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
  }
  
  .header .navbar .active,
  .header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
  }
  
  .header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    color: var(--black-color);
  }
  
  .header .cart-items-container {
    position: absolute;
    top: 95%;
    height: calc(100vh - 9rem);
    width: 35rem;
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }
  
  .header .cart-items-container.active {
    right: 3rem;
  }
  
  .header .cart-items-container .cart-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .header .cart-items-container .cart-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black-color);
  }
  
  .header .cart-items-container .cart-item img {
    height: 7rem;
  }
  
  .header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black-color);
    padding-bottom: 0.5rem;
  }
  
  .header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--black-color);
  }
  
  .header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    border-radius: unset;
  }
  
  .header #menu-btn {
    display: none;
  }
 /*header end*/

/*!home start*/
.home{
    min-height: 100vh;
    background: url(../images/arkaplan.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -34.5rem;
    display: flex;
    align-items: center;
}
.home.content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color:rgb(249, 249, 249);
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(70, 57, 57);
    text-shadow: rgb(90, 76, 76);
    font-weight: bold;
    font-style: italic;
}
/*!home end*/

/*!menu start*/
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 3rem;
    background-color: rgb(119, 80, 80);
    border-radius: 3rem;
    background-color: #e4e0e0;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category{
    font-size: 1.2rem;
    text-transform: lowercase;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding:1rem 0;

}
.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
}




/*!menu end*/

/*!products start*/
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .products .box-container .box {
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }
  
  .products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  
  .products .box-container .box .box-head .title {
    font-size: 1.4rem;
  }
  
  .products .box-container .box .box-head .name {
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
  }
  
  .products .box-container .dark-bg .box-head .name,
  .products .box-container .dark-bg .box-head .title {
    color: var(--black-color);
  }
  
  .products .box-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
  }
  
  .products .box-container  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;
  }
  
  .products .box-container .box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  
  .products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .products .box-container .box-bottom .info .price {
    font-size: 3rem;
  }
  
  .products .box-container .box-bottom .info .amount {
    font-size: 1.4rem;
  }
  


  
  .products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--main-color);
  }
  
  .products .box-container .box-bottom .product-btn a i {
    font-size: 1.6rem;
    color: var(--main-color);
  }

/*!products end*/
.next{
background-color: bisque;
min-width: 400px;
}

.next .tıkla {
  margin: 15px;
  text-align: right;

}
.next .img{
	position: absolute;
	margin-top: 10px;
	display: block;
}



/*! review start  */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
  }
  
  .review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
  }
  
  .review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .review .box-container .box .stars i {
    font-size: 1.5rem;
    color: gold;
  }
  /*! review end  */
  /*! contact start  */
.contact .row {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  
  .contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
  }
  
  .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
  }
  
  .contact .row form .inputBox i {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  .contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }
  
  .contact .row form .btn {
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
  }
  
  /*! contact end  */
  
.hesapMakinesi{
  border: solid rgb(175, 139, 92) 1rem;
  background-color: rgb(203, 168, 124);
  font-size: 20px;
}

  .hesapMakinesi .hesap {
  
    background-color: rgb(201, 153, 94);
  }

  .hesapMakinesi .ters {
    margin: 10px;
  }

  .hesapMakinesi .ücgen {
    margin:10px;
  }

  .hesapMakinesi .body{
    font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #022506, #FF758C);
  color: #333;
  }
  #todo-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #todo-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  #todo-form button {
    padding: 10px 20px;
    background-color: #033e10;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #todo-form button:hover {
    background-color: #02450e;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  #todo-list li {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  #quiz-app {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eae6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #question {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  
  .button {
    padding: 10px 15px;
    background-color: #8e430a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #4f2c04;
  }
  
  #controls {
    justify-content: center;
    margin-top: 20px;
  }
  
  #controls.show {
    display: flex;
  }
  
  #start-btn, #next-btn {
    padding: 10px 20px;
    background-color: #b0911f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #start-btn:hover, #next-btn:hover {
    background-color: #9f9611;
  }
  
  .hide {
    display: none;
  }
  
  .correct {
    background-color: #43320b; /* Green color for correct answers */
    color: white;
  }
  
  .wrong {
    background-color: #035005; /* Red color for incorrect answers */
    color: white;
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }

  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
  }
  #panel,#flip,#ff
            {
                padding:7px;
                text-align:center;
                background-color:#764e18;
                border:solid 2px #034c03;
            }
        #panel
        {
            padding:50px;
            display:none;
        }

    
    h1, h3 {
      color: rgb(119, 67, 9);
    }
    label {
      margin-right: 15px;
}


.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8c744b;
  color: #000000;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: none;
  z-index: 999;
}
.close {
  float: right;
  cursor: pointer;
}
#anaResim {
  width: 300px;
  height: 500px;
}
  

  /*! footer start  */
  .footer {
    background-color: var(--black-color);
    text-align: center;
  }
  
  .footer .search {
    display: flex;
    justify-content: center;
  }
  
  .footer .search .search-input {
    width: 30rem;
  }
  
  .footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
  }
  
  .footer .share {
    padding: 2rem 0;
  }
  
  .footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
  }
  
  .footer .share a:hover {
    background-color: var(--main-color);
  }
  
  .footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footer .links a {
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
  }
  
  .footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
  }
  
  .footer .links a.active {
    background-color: var(--black-color);
  }
  
  .footer .credit {
    font-size: 2rem;
    color: #fcfcfc;
    font-weight: 300;
    padding-top: 1.5rem;
  }
  
  .footer .credit span {
    color: var(--main-color);
  }
  
  /*! footer end  */
  /*! responsive start  */
@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem 2rem;
    }
  
    .header .logo img {
      height: 7rem;
    }
  
    section {
      padding: 2rem;
    }
  
    .products .box-container .box .box-head .name {
      font-size: 3.4rem;
    }
  }
  
  @media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
  
    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: #0c0b0b;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
      }
  
    .header .navbar.active {
      right: 3rem;
    }
  
    .header .navbar a {
      color: var(--black-color);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }
 
        #slider img {
            display: none;
            height: 12rem;
            height: 500px;
            width: 300px;
            
   
        }
        #slider img.active {
            display: block;
            
        }
    
  
  @media (max-width: 576px) {
    html {
      font-size: 50%;
    }
  
    .header .search-form {
      width: 30rem;
    }
  }
   .zamanlayıcı .body{
    
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #b35f04, #983b01);
      color: white;
    }
    #countdown {
      background: rgba(91, 51, 51, 0.7);
      padding: 40px 60px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(114, 6, 6, 0.3);
      text-align: center;
    }
    
    #timer {
      font-size: 3rem;
      letter-spacing: 3px;
    }
    
    .timer-unit {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px;
      display: block;
    }
    @media (max-width: 600px) {
      #timer {
          font-size: 2rem;
      }
      .timer-unit {
          font-size: 1rem;
      }
    }
     /* Stil için CSS */
     .kayan-yazi {
      position: fixed;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: rgb(212, 175, 138);
      padding: 10px;
      white-space: nowrap;
      animation: kayan 10s linear infinite; /* Kayan animasyon */
      border-radius: 20px; /* Köşeleri oval yap */
  }

  /* Kayan animasyonu tanımla */
  @keyframes kayan {
      from {
          left: 0;
      }
      to {
          left: 100%; /* Ekranın sağ ucuna kaydır */
      }
  }

  /* Stil için CSS */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden; /* Taşan resimleri kes */
    border-radius: 20px; /* Köşeleri oval yap */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Gölgelendirme ekle */
}

.slideshow-container img {
    width: 300px;
    height: 500px;
}

/* Eklenen stil: gizli sınıfı */
.hidden {
    display: none;
}
.card {
  max-width: 33rem;
  background: floralwhite;
  margin: 0 47rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.5rem;
}
 
.star {
  font-size: 5vh;
  cursor: pointer;
}
 
.one {
  color: rgb(255, 0, 0);
}
 
.two {
  color: rgb(255, 106, 0);
}
 
.three {
  color: rgb(251, 255, 120);
}
 
.four {
  color: rgb(255, 255, 0);
}
 
.five {
  color: rgb(237, 156, 232);
}
  /*! respdboonsive end  */


  